/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #fff;
    /*background-image: url("../img/bg-green-grass-blur.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.layout {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

    .layout .title {
        text-align: center;
        font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-size: 34px;
        color: #333;
        /*text-shadow: 0 1px 0 #000;*/
    }

        .layout .title sup {
            font-size: 20px;
            color: #999;
        }

    .layout .subtitle {
        text-align: center;
        font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-size: 21px;
        color: #666;
    }

.stopwatch {
    position: relative;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    height: 96px;

    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#111111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 4px 8px #333;
    -webkit-box-shadow: 0px 4px 8px #333;
    box-shadow: 0px 4px 8px #333;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 6px;
}

    .stopwatch:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;

        border: 15px solid transparent;
        border-bottom-color: #333;

        top: -30px;
        left: 139px;
    }

    .stopwatch .glass {
        width:100%;
        height: 46px;

        background: #fcffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #fcffff 0%, #abcfe9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcffff), color-stop(100%,#abcfe9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fcffff 0%,#abcfe9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fcffff 0%,#abcfe9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fcffff 0%,#abcfe9 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fcffff 0%,#abcfe9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcffff', endColorstr='#abcfe9',GradientType=0 ); /* IE6-9 */

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

        .stopwatch .glass p {
            position: absolute;
            font-size: 14px;
            margin-left: 8px;
            text-shadow: 0 1px 0 #fff;
        }

        .stopwatch .glass span {
            display: block;
            padding: 2px 8px 0 0;
            text-align: right;
            color: #11517e;
            font-size: 30px;
            text-shadow: 0 1px 0 #fff;
        }

    .stopwatch .startBtn {
        cursor: pointer;

        margin-top: 5px;
        width: 147px;
        height: 46px;
        float: left;
        color: #333333;
        font-size: 18px;
        font-weight: bold;

        background: #d5ff62; /* Old browsers */
        background: -moz-linear-gradient(top,  #d5ff62 0%, #94e843 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5ff62), color-stop(100%,#94e843)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d5ff62 0%,#94e843 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d5ff62 0%,#94e843 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d5ff62 0%,#94e843 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d5ff62 0%,#94e843 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ff62', endColorstr='#94e843',GradientType=0 ); /* IE6-9 */

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        text-align: center;
        line-height: 2.7em;
        text-shadow: 0 1px 0 #fff;
    }

    .stopwatch .startBtn.inactive {
        cursor: auto;
        background: #5b811e;
        text-shadow: 0 1px 0 #aaa;
    }

    .stopwatch .stopBtn {
        cursor: pointer;

        margin-top: 5px;
        margin-left: 5px;
        width: 148px;
        height: 46px;
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: bold;

        background: #ff4949; /* Old browsers */
        background: -moz-linear-gradient(top,  #ff4949 0%, #e62929 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4949), color-stop(100%,#e62929)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ff4949 0%,#e62929 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ff4949 0%,#e62929 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ff4949 0%,#e62929 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ff4949 0%,#e62929 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4949', endColorstr='#e62929',GradientType=0 ); /* IE6-9 */

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        text-align: center;
        line-height: 2.7em;
        text-shadow: 0 -1px 0 #000;
    }

    .stopwatch .stopBtn.inactive {
        cursor: auto;
        background: #811e1e;
        color: #ddd;
        text-shadow: 0 -1px 0 #333;
    }

.layout .footer {
    margin-top: 25px;
    color: #999;
    font-size: 11px;
    text-align: center;
}

.layout .footer a {
    color: #999;
    text-decoration: none;
}

.layout .footer a:hover {
    color: #333;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
